backend/node_modules
backend/.env
backend/testing.js
backend/node_modules
tesseract
backend/certifications
backend/fake_cert.csv
backend/real_cert.csv
backend/DockerFile
backend/logs
backend/todo
token.txt
.vercel
