backend/node_modules
backend/.env
backend/testing.js
backend/uploads/*
backend/apiuploads/*
backend/hashtag_extractions/*
!backend/uploads/.gitkeep
!backend/apiuploads/.gitkeep
!backend/hashtag_extractions/.gitkeep
backend/node_modules
tesseract
apiuploads
backend/hashtag_extractions
backend/certifications
backend/fake_cert.csv
backend/real_cert.csv
backend/DockerFile
backend/logs
backend/todo
token.txt
.vercel
