<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chenge your password </title>
</head>
<body>
    <form action="/changepassword" method="post">
        New pass : <br>
        <input type="password" id="newPwd" name="newPwd"><br>
        Confimr pass : <br>
        <input type="password" id="confPwd" name="confPwd"><br>
        <input id="token" name="token" value="<%= token %>" style="display: none;">
        <button type="submit"> Confirm </button>
    </form>
</body>
</html>